/* VARIABLES */
$color-fondo: #262626;
$color-primario: #035AA6;
$color-secundario: #64858C;
$color-terciario: #038C7F;

/* ESTILOS GENERALES */
body {
    background-color: $color-fondo;
}

.navbar {
    background-color: $color-primario;

    .navbar-brand {
        color: #FFFFFF;
        font-weight: bold;
    }

    .navbar-nav .nav-link {
        color: #FFFFFF;
    }
}

.section {
    padding: 33px 0;
    transition: padding 0.3s ease; 
}

.footer {
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;

    a {
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* INICIO */
.txtinicio {
    color: #FFFFFF;
}

.carousel-item img {
    background-color: transparent;
    width: 100%;
    height: 720px;
    object-fit: contain;
    border-radius: 10px;
}

#carouselControls {
    padding: 20px;
}

@media (max-width: 639px) {
    #carouselControls {
        display: none; 
    }
    #carouselImages {
        display: block; 
        text-align: center;
        padding: 9px;
    }
    #carouselImages img {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .txtinicio {
        margin-bottom: 61px;
    }
    .col-md-6 {
        margin-bottom: 61px;
        margin-right: 19px;
    }
}

@media (min-width: 640px) {
    #carouselImages {
        display: none;
    }
    .col-md-6 {
        margin-bottom: 0;
    }
}

@media (min-width: 360px) {
    .txtinicio {
        margin-bottom: 61px; 
    }
}

/* PORTFOLIO */
#portfolio .container {
    margin-top: 50px;
}

#portfolio .row {
    margin-top: 30px;
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        animation: vibrate 0.01s linear; 
    }
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-1px, 1px); 
    }
    50% {
        transform: translate(-1px, -1px); 
    }
    75% {
        transform: translate(1px, -1px); 
    }
    100% {
        transform: translate(1px, 1px); 
    }
}

/* SERVICIOS */
#servicios {
    background-color: $color-fondo;
    color: #FFFFFF;
    padding: 50px 0;

    .servicios-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .servicio {
            color: #FFFFFF;
            padding: 20px;
            border-radius: 10px;
            width: calc(50% - 40px);
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            &.servicio-foto {
                background-color: $color-primario;
            }

            &.servicio-desa {
                background-color: #BF6849;
            }

            .servicio-precio {
                font-weight: bold; 
            }
        }
    }
}

/* CONTACTO */
#contacto {
    background-color: $color-fondo;
    color: #FFFFFF;
    padding: 50px 0;

    h2 {
        color: $color-primario;
        text-align: left;
        margin-bottom: 30px;
    }

    .mapa {
        margin-bottom: 30px;
    }

    .informacion-contacto {
        p {
            color: $color-terciario;
            margin-bottom: 10px;
            color: #FFFFFF;

            i {
                margin-right: 10px;
                color: $color-terciario;
            }
        }
    }

    .formulario-contacto {
        background-color: $color-secundario;
        padding: 20px;
        border-radius: 10px;
        color: #FFFFFF;

        label {
            color: #FFFFFF;
        }

        button {
            margin-top: 20px;
        }
    }
}

/* HER */
#her {
    background-color: $color-fondo;
    color: #FFFFFF;
    padding: 50px 0;

    h2 {
        color: $color-primario;
        text-align: center;
        margin-bottom: 30px;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;

        .descripcion {
            max-width: 600px;
            margin-bottom: 20px;
        }

        .imagen {
            width: 100%;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
    }
}

